.footer-container {
  @include xy-grid-container;
  margin-top: rem-calc(60);
  background-color: #F0F0F0;
  max-width: 100%;
  border-top: 1px solid #dbdbdb;
  color: #8C8C8C
  

}

.footer-grid {
  // @include xy-grid;
  // padding: rem-calc(60) 0;
  justify-content: center;
  padding: 0 80px;

  .footerTop {
    // @include xy-cell();
    // @include breakpoint(large) {
    //   @include xy-cell(auto);
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
      padding-top: 20px;
      

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      
    }
 
    .menu {
      display: flex;

    }
  }
}

.logo {
  height: 60px;
  width: auto;
}


.contact {
    display: flex;

  ul {
    padding: 8px
  }
}


.footerBottom {
  display: flex;
  justify-content: space-between;
  
  .social {
    height: 30px;
    width: auto;
  }

}

.footerBottom {
  display: flex;
  border-top: 1px solid #dbdbdb;
  padding: 10px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #8C8C8C
  }

}


@media (min-width: 320px) and (max-width: 767px) {
  .footer-grid {
    padding: 0;
  
  .footerTop, .footerBottom {
    // @include xy-cell();
    // @include breakpoint(large)
    //   @include xy-cell(auto);
      display: flex;
      justify-content: space-between;
      padding-bottom: 5px;
      padding-top: 5px;
      font-size: 10px;
      
      .logo {
        height: 20px;
        width: auto;
      }
    
      .social {
        height: 20px;
        width: auto;
      }
  
    } 

  }

}