body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    // font-size: 12px;
    line-height: 30px;
    color: black;
  }
  

  div.cta {
      color: white;
      font-size: 40px;
      width: 50%;
      height: 135px;
      background-color: black;
      opacity: 0.4; 
      position: absolute;
      top: 50%;
      text-align: right;
      
      span{
          color: grey
      }

      p {
         margin: 0;
         margin-right: 10px;
      }
         

  }

.welcome {
    text-align: center;
    // padding-top: 80px;
    margin: 50px 300px;
}

.History, .Temporary, .Current {
    display: flex;
    padding: 30px;
}

.about {
    margin: 50px 300px;
    

    img {
        height: 200px;
        width: auto
    }
}
.info1, .info3 {
    margin: 8px 40px 0 0;
    margin-right: 60px;
    text-align: justify;
}

.info2 {
    margin: 8px 0 50px 0;
    margin-left: 60px;
    text-align: justify;
}

footer.footer-container {
    background-color: #F0F0F0;
    margin-top: 0;
}

.erInfo {
    text-align: center;
    padding: 0 45px;

    h2, p {
        padding-top: 10px;
    }

}

.wrImage, .erImage {

    img {
        width: 100%;
        height: 50vh
    }
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
    div.cta {
        color: white;
        font-size: 25px;
        width: 55%;
        height: 90px;
    }

    .services {
        padding: 0 0 0 20px; 
      
        h2 {
            padding: 20px 20px 20px 0;
    
        }
      
        h4 {
          margin-bottom: 0;
        }
      
          }
      
      #sp-wp-carousel-free-id-65 {
          margin: 80px 10%;
      }

    .welcome {
        text-align: center;
        // padding-top: 80px;
        margin: 50px 100px;

        h1 {
            font-size: 30px
        }
    }
    
    .History, .Temporary, .Current {
        display: flex;
        padding: 30px;

        h3 {
            font-size: 20px
        }

        p {
            font-size: 10px
        }
    }
    
    .about {
        margin: 50px 85px;
        
    
        img {
            height: 200px;
            width: auto
        }
    }
    .info1, .info3 {
        margin: 8px 40px 0 0;
        margin-right: 60px;
        text-align: justify;
    }
    
    .info2 {
        margin: 8px 0 50px 0;
        margin-left: 60px;
        text-align: justify;
    }
    
  }

  #sp-wp-carousel-free-id-65 {
    margin: 80px 10%;
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
  

@media (min-width: 320px) and (max-width: 767px) {
    
    // front page
    .welcome {
        text-align: center;
        // padding-top: 80px;
        margin: 10px 10px;
    }

    .about {
        margin: 10px 10px;
        display: block
    }

    .History, .Temporary, .Current {
        display: block;
        padding: 0;
        justify-content: center;
        padding: 20px;


        img {
            height: auto;
        }
    }

    .info1, .info3, .info2 {
        margin: 8px 40px 0 0;
        margin-right: 0px;
        text-align: justify;
    
        h3 {
            text-align: center;
        }
    }
  }




  .services {
    padding: 0 0 0 100px; 
  
    h2 {
        padding: 20px 20px 20px 0;

    }
  
    h4 {
      margin-bottom: 0;
    }
  
      }
  
  #sp-wp-carousel-free-id-65 {
      margin: 80px 10%;
  }
  
  
@media (min-width: 320px) and (max-width: 767px) {
    .services {
        padding-left: 10px; 
        // text-align: center;
        margin: 0 ;
        
        h2 {
            font-size: 16px
          }

        h4 {
            font-size: 13px
          }

        p {
            font-size: 10px
        }

    }


    div.cta {
        // color: white;
        font-size: 15px;
        width: 75%;
        height: 55px;
        text-align: right;
        
        span{
            color: grey
        }
  
        p {
           margin: 0;
           margin-right: 10px;
        }
           
  
    }

}