body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
  }
  

.welcome {
    text-align: center;
    // padding-top: 80px;
    margin: 50px 300px;
}

.callAction {
    width: 50%;
    height: 20px;
    background-color: black;
    opacity: 0.4;  
}


.History, .Temporary, .Current {
    display: flex;
    padding: 30px;
}

.about {
    margin: 50px 300px;

    img {
        height: 200px;
        width: auto
    }
}
.info {
    margin-left: 50px;
    margin-right: 60px;
}

.footer-container {
    background-color: grey;
}

.location {
    width: 100%
}