.services {
    padding: 0 0 0 200px; 
  
    h2 {
        padding: 20px 20px 20px 0;

    }
  
    h4 {
      margin-bottom: 0;
    }
  
      }
  
  #sp-wp-carousel-free-id-65 {
      margin: 80px 10%;
  }
  
  
@media (min-width: 320px) and (max-width: 767px) {
    .services {
        padding-left: 10px; 
        // text-align: center;
        margin: 0 ;
        
        h2 {
            font-size: 15px
          }

        h4 {
            font-size: 10px
          }

        p {
            font-size: 5px
        }

    }

}